
@charset "utf-8";
.cart_wrap {
    margin: 0 auto;
    width: 980px;
}
.cart_wrap input, .cartstep span img {
    float: left;
    font: 9pt microsoft yahei,arial;
}
.cartstep {
    display: inline;
    float: left;
    padding: 10px 0 0 220px;
    width: 760px;
}
.cartstep span {
    float: left;
    padding: 10px 40px 15px 0;
}
.cartstep span span {
    float: left;
    line-height: 40px;
    margin: 10px 0 0 10px;
    padding: 0;
}
.info, .pay, .express, .productlist, .ordereport {
    border: 1px dashed #999999;
    float: left;
    margin-bottom: 30px;
    padding: 20px 50px;
    width: 878px;
}
.info h3, .pay h3, .express h3, .productlist h3, .ordereport h3 {
    float: left;
    font-size: 9pt;
    margin: 0 0 10px;
    width: 100%;
}
.info h2, .pay h2, .express h2, .productlist h2, .ordereport h2 {
    float: left;
    font-size: 14pt;
    width: auto;
}
.productlist h2 {
    line-height: 17px;
}
.ordereport h1 {
    float: left;
    font-size: 12pt;
    width: auto;
}
.info h3 span, .pay h3 span, .express h3 span, .productlist h3 span {
    float: left;
    margin-right: 20px;
}
.info h3 span a, .pay h3 span a, .express h3 span a, .productlist h3 span a {
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}
.info h3 span a:hover, .pay h3 span a:hover, .express h3 span a:hover {
    text-decoration: underline;
}
.info ul, .ordereport ul {
    float: left;
    width: 100%;
}
.info ul li, .pay ul li, .express ul li, .ordereport ul li {
    float: left;
    line-height: 25px;
    margin: 3px 0;
    width: 100%;
}
.info ul li span, .pay ul li span, .express ul li span {
    float: left;
    margin: 0 5px 0 0;
    width: auto;
}
.ordereport ul li span {
    float: left;
    margin: 0 15px 0 0;
    width: auto;
}
.pay ul li span {
    margin-right: 25px;
}
.pay ul li p {
    float: left;
    width: 100%;
}
.info ul li span a, .pay ul li span a, .express ul li span a, .productlist table tr td a, .ordereport ul li span a {
    color: #333333;
    text-decoration: underline;
}
.info ul li select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    float: left;
    font: 9pt/20px microsoft yahei,arial;
    height: 20px;
    margin: 2px 5px 0 0;
    width: auto;
}
.info ul li .title {
    margin: 0 10px 0 12px;
    text-align: right;
    width: 80px;
}
.cart_wrap .status {
    color: #FF9900;
    line-height: 20px;
}
.ordereport .status {
    font-weight: bold;
    line-height: 25px;
}
.info ul li .address {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999999 #999999 #999999 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    width: 400px;
}
.info ul li .postcode, .info ul li .buyername {
    border: 1px solid #999999;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 0 5px;
    width: 100px;
}
.info ul li .dist {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 -moz-use-text-color #999999 #999999;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 5px;
}
.info ul li .radio, .pay ul li .radio, .express ul li .radio, .cart_wrap .paychange .radio {
    line-height: 25px;
    margin: 5px 5px 0 0;
}
.info ul li .saveadd {
    margin: 5px 0 0 102px;
}
.cart_wrap .send {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #666666;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin-left: 102px;
    padding: 4px 8px;
    text-decoration: none;
    width: auto;
}
.cart_wrap .sent {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin-left: 102px;
    padding: 4px 8px;
    text-decoration: none;
    width: auto;
}
.ordereport .send {
    margin-left: 0;
}
.cart_wrap ul li .paysend {
    margin-left: 20px;
}
.pay ul, .express ul {
    float: left;
    padding: 0 19px 0 0;
    width: 400px;
}
.pay .right, .express .right {
    border-left: 1px dashed #DFDFDF;
    color: #666666;
    padding: 0 0 10px 20px;
    width: 49%;
}
.pay .right li, .express .right li {
    margin: 0;
    padding: 0;
}
.pay .right li a, .express .right li a {
    color: #333333;
}
.pay ul ul, .express ul ul {
    display: inline;
    float: left;
    margin-left: 5%;
    width: 95%;
}
.pay ul ul li span {
    margin: 0 15px 0 5px;
    width: auto;
}
.cartover {
    background: none repeat scroll 0 0 #FDFDFD;
}
.productlist table {
    float: left;
    width: 100%;
}
.productlist table tr td {
    padding: 5px 0;
}
.productlist table h3 {
    font-size: 9pt;
}
.productlist table ol li {
    list-style: decimal inside none;
    padding: 0 0 4px;
    width: auto;
}
.cartpage {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.cart_wrap .next {
    float: right;
    margin-left: 0;
}
.cart_wrap .prev {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    padding: 4px 5px;
    text-decoration: none;
    width: auto;
}
.productlist .coupon {
    float: left;
    height: 20px;
    margin-right: 10px;
    width: auto;
}
.productlist .couponcode {
    border: 1px solid #999999;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 0 5px;
    width: 250px;
}
.productlist .go {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    float: left;
    height: 22px;
    margin-right: 10px;
    padding: 0 8px;
    text-decoration: none;
    width: auto;
}
.productlist table tr td p {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.productlist table tr td p select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    float: left;
    font: 9pt/22px microsoft yahei,arial;
    height: 22px;
    margin: 0 5px 0 0;
    width: auto;
}
.productlist .ye {
    border-left: medium none;
    width: 100px;
}
.productlist .ipassword {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333 -moz-use-text-color #333333 #333333;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    width: auto;
}
.productlist table thead tr th {
    padding: 0 0 10px;
}
.productlist .continue {
    float: left;
    margin: 10px 20px 0 0;
}
.cart_wrap .paychange {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.cart_wrap .paychange p {
    float: left;
    width: 100%;
}
.cartpage .checkbox {
    float: right;
    line-height: 25px;
    margin-right: 10px;
    width: auto;
}
.cartpage .checkbox input {
    margin: 6px 5px 0 0;
}
.p_line_bank {
    float: left;
    margin: 0;
    padding: 10px 0 0;
    width: 100%;
}
.p_line_bank label {
    display: block;
    float: left;
    height: 30px;
    margin-bottom: 10px;
    position: relative;
    width: 125px;
}
.p_line_bank label input {
    padding-top: 3px;
}
.p_line_bank label b {
    background-image: url("../../img/car/bank_logo.gif");
    background-repeat: no-repeat;
    float: left;
}
.NOP_ICBC, .NOP_CMB, .NOP_ABC, .NOP_CCB, .NOP_BOC, .NOP_COMM, .minsheng, .NOP_SPDB, .xingye, .shenzhen, .NOP_GDB, .zhongxin, .NOP_CEB, .NOP_PSBC, .NOP_BJBANK, .pingan {
    left: 20px;
    position: absolute;
    top: 0;
}
.NOP_ICBC {
    background-position: 0 0;
    height: 20px;
    width: 93px;
}
.NOP_CMB {
    background-position: -94px 0;
    height: 20px;
    width: 93px;
}
.NOP_ABC {
    background-position: -187px 0;
    height: 20px;
    width: 93px;
}
.NOP_CCB {
    background-position: -280px 0;
    height: 20px;
    width: 93px;
}
.NOP_BOC {
    background-position: -373px 0;
    height: 20px;
    width: 93px;
}
.NOP_CEB {
    background-position: 0 -60px;
    height: 20px;
    width: 93px;
}
.NOP_COMM {
    background-position: 0 -21px;
    height: 20px;
    width: 93px;
}
.minsheng {
    background-position: -94px -21px;
    height: 20px;
    width: 93px;
}
.NOP_SPDB {
    background-position: -187px -21px;
    height: 20px;
    width: 93px;
}
.xingye {
    background-position: -280px -21px;
    height: 20px;
    width: 93px;
}
.shenzhen {
    background-position: -373px -21px;
    height: 20px;
    width: 93px;
}
.NOP_GDB {
    background-position: 0 -41px;
    height: 20px;
    width: 93px;
}
.zhongxin {
    background-position: -94px -41px;
    height: 20px;
    width: 93px;
}
.NOP_PSBC {
    background-position: -187px -41px;
    height: 20px;
    width: 93px;
}
.NOP_BJBANK {
    background-position: -280px -41px;
    height: 20px;
    width: 93px;
}
.pingan {
    background-position: -373px -41px;
    height: 20px;
    width: 93px;
}
.cmdz {
    float: left;
    margin-bottom: 10px;
}
.cmdz a {
    color: #999999;
    text-decoration: none;
}
.cmdz a:hover {
    color: #333333;
}
.x-region-child {
    font-size: 0;
}
.checkout_total table tr td {
    vertical-align: top;
}
