.mfont{
    text-align:left;
    font-size:9pt;
    font-weight:bold;
    font-family:microsoft yahei, 微软雅黑,arial
}

.dialog {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 100px;
    text-align: left;
    top: 100px;
    z-index: 4000;
}
.dialog .dialog-box {
    display: none;
    font-family: microsoft yahei,微软雅黑;
}
.dialog .dialog-title {
    border-bottom: 1px dotted #CCCCCC;
    overflow: hidden;
}
.dialog .title img {
    display: none;
}
.dialog .title {
    color: #999999;
    font-size: 9pt;
}
.dialog .dialog-close-btn {
    cursor: pointer;
    float: right;
}
.dialog .dialog-content {
    clear: both;
    padding: 9px;
}
