/*确定修改框*/
.adcart {

    background: none repeat scroll 0 0 #666666;

    color: #FFFFFF;

    float: left;

    text-align: center;


}
.adcart1 {

    background: none repeat scroll 0 0 #666666;

    color: #FFFFFF;

    float: left;

    text-align: center;


}
.adcart2 {

    background: none repeat scroll 0 0 #DDDDDD;

    color: #FFFFFF;

    float: left;

    text-align: center;


}
.adfavrit {

    background: none repeat scroll 0 0 #999999;

    color: #FFFFFF;

    float: left;

    height: 25px;

    line-height: 25px;

    margin-top: 5px;

    text-align: center;

    text-decoration: none;

    width: 90px;


}
.wyzx {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #333333;
    cursor: pointer;
    font-family: microsoft yahei,微软雅黑;
    font-size: 9pt;
    padding: 0;
}
.actbtn {
    border: medium none;
    cursor: pointer;
    display: block;
    height: 25px;
    margin-top: 5px;
    text-align: center;
    width: 90px;
}

/*修改密码*/
.division th {
    width: 82px;
}
.division td input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    height: 22px;
}
.division .forform th, .division .forform td {
    padding: 5px;
    vertical-align: top;


}
.division .forform th {
    color: #777777;    
    font-size: 9pt;    
    font-weight: normal;    
    text-align: left;    
    white-space: nowrap;


}

.AllWrapInside{
 width:980px;
  margin:0 auto 10px auto;

}
.AllWrapInside a{
 color:#333;
  text-decoration:none;

}
.AllWrapInside a:hover{
  text-decoration:none;

}
.MemberCenter h1{
	border:0;
	padding:5px 0;
	font-size:14px;
	font-weight:bold;
	color:#464646;

}

.MemberSidebar{
	width:140px;
	float:left;
	_overflow:hidden;

}
/**
.MemberSidebar span div{
background-repeat:no-repeat;

}
.MemberSidebar .hover .m_0{
background-position:right 0;

}
.MemberSidebar .m_0{
background-position:right -36px;

}
.MemberSidebar .hover .m_1{
background-position:right -72px;

}
.MemberSidebar .m_1{
background-position:right -108px;

}
.MemberSidebar .hover .m_2{
background-position:right -144px;

}
.MemberSidebar .m_2{
background-position:right -180px;

}
.MemberSidebar .hover .m_3{
background-position:right -216px;

}
.MemberSidebar .m_3{
background-position:right -252px;

}
.MemberSidebar .hover .m_4{
background-position:right -288px;

}
.MemberSidebar .m_4{
background-position:right -324px;

}
.MemberSidebar .hover .m_5{
background-position:right -360px;

}
.MemberSidebar .m_5{
background-position:right -396px;

}
.MemberSidebar .hover .m_6{
background-position:right -432px;

}
.MemberSidebar .m_6{
background-position:right -468px;

}
.MemberSidebar .hover .m_7{
background-position:right -504px;

}
.MemberSidebar .m_7{
	background-position:right -540px;

	}**/
.MemberMain{
	width:800px;
	float:right;

}
.MemberMain ol li{
	margin:0 30px;

}
.MemberMenu .body{
	width:139px;

}
.MemberMenu a{
	display:block;
	text-indent:5px;
	color:#666;
	 text-decoration:none;

}
.MemberMenu a:hover{
	color:#333;
	 font-weight:normal;
	 text-decoration:none;

}
.MemberMenu .current a{
	_position:relative;
	z-index:1;
	 background:url(../../img/member/select.jpg) 0px -36px no-repeat;
	 padding-left:10px;
	height:20px;
	line-height:20px;
	 text-align:left;
	 color:#333;
	text-decoration:none
}
.MemberMenu .current a:hover{
	color:#333;
	text-decoration:none;

}
.MemberMenu span{
	display:block;
	color:#333;
	padding: 0;

}
.MemberMenu li{
	line-height:20px;

}

.siteparttitle .gender{
	width:70px;
	height:60px;
	background:url(../../img/member/siteparttitle_male.gif);
	float:left;

}
.siteparttitle .female{
	width:70px;
	height:60px;
	background:url(../../img/member/siteparttitle_female.gif);
	 float:left;

}
.siteparttitle .info{
	margin-top:20px;
	height:40px;
	line-height:40px;
	text-indent:10px;
	 float:left;

}
.siteparttitle .time{
	margin-top:20px;
	height:40px;
	line-height:40px;
	width:250px;
	background:url(../../img/member/siteparttitle_bgr.gif) no-repeat right;
	color:#a0a0a0;
	float:right;

}
.MemberMenuList{
	margin-bottom:5px;
	border:1px solid #efefef;
	padding-left:10px;

}
.MemberMenu span div{
	margin:0;
	padding:0 ;

}
.MemberMenuList div{
	line-height:20px;
	height:20px
}
.MemberMenuList li{
	line-height:20px;
	height:20px;

}
.MemberMenuList li a{
	color:#999;
	text-decoration:none;
	 background:url(../../img/member/select.jpg) 0px 4px no-repeat;
	 padding-left:10px;

}
.MemberMenuList li a:hover{
	text-decoration:none;

}

.cart_title{
	background:url(../../img/member/arrs.gif) no-repeat 0 -82px;
	padding-left:15px;
	margin-bottom:5px;

}
.MemberMenuList ul{
	padding:5px 0;

}
.MemberMenu .title {

    height: 7px;

    overflow: hidden;


}
.MemberMenu .foot {

    height: 7px;

    overflow: hidden;


}


.MemberMenu .title{
	height:7px;
	overflow:hidden;

}
.MemberMenu .foot{
	height:7px;
	overflow:hidden;

}
.MemberMain .point{
	color:#436555;

}
.MemberMain,.MemberMain a{
	color:#464646;

}
.MemberMain .title{
	background:url(../../img/member/arrs.gif) no-repeat 0 -82px;
	padding-left:15px;
	color:#464646;
	font-weight:bold;
	margin:5px 0 10px 0;

}
.MemberMain .noinfo{
	border-top:1px solid #e5e5e5;
	height:30px;
	line-height:30px;
	color:#7e7e7e;
	text-indent:10px;

}
.MemberMain .more{
	text-align:right;
	height:30px;
	line-height:30px;
	font-family:Verdana;

}
.MemberMain .more a{
	color:#464646;
	text-decoration:none;

}
.MemberMain-basicinfo{
	height:85px;
	background:url(../../img/member/membermain_bg1.gif);

}
.MemberMain-basicinfo .info{
	padding:8px 5px 0 5px;
	color:#7e7e7e;

}
.MemberMain-basicinfo .info td{
	background:url(../../img/member/membermain_info3.gif);
	line-height:30px
}
.MemberMain-basicinfo .info .left{
	background:url(../../img/member/membermain_info1.gif);
	width:5px;

}
.MemberMain-basicinfo .info .right{
	background:url(../../img/member/membermain_info2.gif);
	width:5px;

}
.MemberMain-basicinfo li{
	list-style-type:disc;

}
.MemberMain-basicinfo a{
	color:#464646;
	text-decoration:underline;

}
.MemberMain-basicinfo .sel td{
	background:url(../../img/member/membermain_info6.gif);
	line-height:30px;

}
.MemberMain-basicinfo .sel .left{
	background:url(../../img/member/membermain_info4.gif);
	width:5px;

}
.MemberMain-basicinfo .sel .right{
	background:url(../../img/member/membermain_info5.gif);
	width:5px;

}
.MemberMain .favorites table tr td img{
	width:190px;

}
.MemberMain .favorites .bg-lt{
	background:url(../../img/member/membermain-lt.gif);
	height:10px;
	width:10px;

}
.MemberMain .favorites .bg-t{
	background:url(../../img/member/membermain-t.gif) repeat-x top;

}
.MemberMain .favorites .bg-rt{
	background:url(../../img/member/membermain-rt.gif);
	width:10px;

}
.MemberMain .favorites .bg-lm{
	background:url(../../img/member/membermain-lm.gif) repeat-y left;

}
.MemberMain .favorites .bg-rm{
	background:url(../../img/member/membermain-rm.gif) repeat-y right;

}
.MemberMain .favorites .bg-lb{
	background:url(../../img/member/membermain-lb.gif);
	height:10px;

}
.MemberMain .favorites .bg-b{
	background:url(../../img/member/membermain-b.gif) repeat-x bottom;

}
.MemberMain .favorites .bg-rb{
	background:url(../../img/member/membermain-rb.gif);

}
.MemberMain .activity .bg-lt{
	background:url(../../img/member/membermain1-lt.gif);
	height:10px;
	width:10px;

}
.MemberMain .activity .bg-t{
	background:url(../../img/member/membermain1-t.gif) repeat-x top;

}
.MemberMain .activity .bg-rt{
	background:url(../../img/member/membermain1-rt.gif);
	width:10px;

}
.MemberMain .activity .bg-lm{
	background:url(../../img/member/membermain1-lm.gif) repeat-y left;

}
.MemberMain .activity .bg-rm{
	background:url(../../img/member/membermain1-rm.gif) repeat-y right;

}
.MemberMain .activity .bg-lb{
	background:url(../../img/member/membermain1-lb.gif);
	height:10px;

}
.MemberMain .activity .bg-b{
	background:url(../../img/member/membermain1-b.gif) repeat-x bottom;

}
.MemberMain .activity .bg-rb{
	background:url(../../img/member/membermain1-rb.gif);

}
.MemberMain .activity .bg-m{
	background:#fffcf8;

}
.MemberMain .favorites-list td{
	padding:5px;

}
.MemberMain .activity li{
	height:23px;
	line-height:23px;
	background:#fff2e0 url(../../img/member/ra.gif) no-repeat 8px 8px;
	margin:3px 0;
	font-weight:bold;
	text-indent:20px;

}
.MemberMain .activity li a{
	color:#fe6c00;

}
.MemberMain .activity li a:hover{
	text-decoration:underline;

}
.memberlist .point a{
	color:#f90;
	text-decoration:none;

}
.memberlist .point a:hover{
	color:#999;
	text-decoration:none
}
.memberlist{
	color:#7e7e7e;

	}.memberlist th{
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	color:#333;
	height:27px;
	line-height:27px;
	text-align:left;
	padding-left:5px;

	}.memberlist td{
	vertical-align:middle;
	border-bottom:1px solid #e5e5e5;
	padding:7px 0 7px 5px;
	color:#7e7e7e;

	}.memberlist a{
	
	text-decoration:none;

	}.memberlist a:hover{
	color:#464646;
	text-decoration:none;

	}.memberlist .intro{
	color:#464646;

	}.memberlist .intro{
	color:#7e7e7e;
	text-decoration:none;

	}.memberlist a.intro:hover{
	color:#464646;
	text-decoration:none;

	}.memberlist-tip .tip-text{
	padding:20px;
	background:#fff;

	}.blueth th{
	background:url(../../img/member/blueth.gif) repeat-x center;
	color:#464646;
	height:27px;
	line-height:27px;
	text-align:left;
	padding-left:5px;

	}.MemberMain .points{
	border-top:1px solid #e5e5e5;
	padding-top:15px;

	}.currentpoints{
	background:url(../../img/member/membermain-bg1.gif);
	width:180px;
	height:91px;
	vertical-align:middle;
	text-align:center;

	}.cartlink{
	background:url(../../img/member/icons/cart.gif) no-repeat center left;
	padding-left:20px;

	}.viewmsgoff{
	background:url(../../img/member/icon_map.gif) no-repeat 0 -158px;
	padding:0 0 0 15px;

	}.viewmsg{
	background:url(../../img/member/icon_map.gif) no-repeat 0 -118px;
	padding:0 0 0 15px;

	}.pageWrap h2{
	margin:15px 0;
	color:#666;

	}.pageWrap h4{
	margin:10px 0;
	border-bottom:1px solid #ddd;
	background:url(../../img/member/arrowleft-orange.gif) 0 5px no-repeat;
	padding-left:14px;

	}.pageWrap ol li{
	color:#666;

	}.SearchMoreWrap{
	margin:10px 0;

	}.SearchMoreWrap division table.forform th,.SearchMoreWrap .division table.forform td{
	vertical-align:middle;

	}.SearchMoreWrap #search_cat_view .row{
	float:left;
	margin:3px 0;

	}.SearchMoreWrap #search_cat_view .row label{
	width:140px;
	overflow:hidden;
	font-weight:normal;
	display:block;
	float:none;
	text-align:left;
	color:#369;
	margin-top:8px;

	}.SearchMoreWrap #search_cat_view .row select{
	width:120px;

	}.section .row{
	clear:both;
	overflow:hidden;

	}.lineheight-free,.lineheight-free *{
	line-height:normal;

	}.themefoot{
	margin:0 auto;

	}.customMessages *{
	line-height:140%;

	}.uarea-output *{
	line-height:180%;

	}.uarea-output ul,.uarea-output ol{
	margin:1em 0;
	padding:0 0 0 40px;

	}.uarea-output ul li{
	list-style:disc inside;
	border:none;
	margin:0;

	}.uarea-output ol li{
	list-style:decimal inside;
	border:none;
	margin:0;

	}.uarea-output i,.uarea-output em{
	font-style:italic;

	}.paymentextend{
	text-align:left;
	display:none;

	}.paymentextend ul{
	overflow:hidden;
	height:100%;

	}.paymentextend ul li{
	padding:3px;

	}.selected .paymentextend{
	display:block;

	}.mini-cart-dialog{
	border:1px solid #333;

	}.mini-cart-dialog .dialog-title{
	background:#fff;
	color:#696D6F;
	line-height:22px;
	padding:0 4px 0 4px;

	}.mini-cart-dialog .dialog-box{
	left:1px;
	top:1px;
	display:none;

	}.mini-cart-dialog .title{
	font-size:12px;

	}.mini-cart-dialog .title img{
	float:left;
	margin-right:5px;

	}.mini-cart-dialog .dialog-close-btn{
	text-align:center;

	}.mini-cart-dialog .dialog-close-btn:hover{
	color:#999;

	}.mini-passport-dialog .dialog-title{
	display:none;

	}.dialog-content{
	font-family:microsoft yahei,微软雅黑
	}.mini-passport-dialog .dialog-content,.mini-passport-dialog table{
	padding:0;

	}.mini-passport-dialog .loading{
	background:url(../../img/member/loading.gif) no-repeat 50% 50%;

	}.mini-passport-dialog .form{
	padding:0;
	margin:0;
	border:none;

	}.mini-passport-dialog .form table td.row-span{
	background:#FFF5EE;
	width:190px;
	vertical-align:top;
	padding:4px 0 0 0;
	border-left:#FFECE0 1px solid;
	text-align:center;

	}.mini-passport-dialog .row-span .span-auto{
	margin:0;
	padding:0;

	}.mini-passport-dialog .row-span .close{
	font-family:Arial Black;
	color:#fff;
	background:#F95;
	border:1px #FA6400 solid;
	font-size:14px;
	cursor:pointer;

	}.mini-passport-dialog .row-span .close:hover{
	background:#f65;
	border-color:#f65;

	}.mini-passport-dialog .row-span a{
	color:#FA6400;
	font-weight:bold;

	}.mini-passport-dialog .RegisterWrap{
	margin:0;

	}.mini-passport-dialog .RegisterWrap h4{
	padding:0px 0 2px 0px;
	margin:0;

	}.mini-passport-dialog .RegisterWrap i{
	padding-left:10px;
	color:#999;

	}.fast-login{
	padding:15px 0 5px;

	}ul.fast-login li{
	background:none;
	padding:0 0 0 5px;
	text-align:left;

	}.fast-login span{
	background:url(../../img/member/ra.gif) no-repeat 0 8px;
	padding:0 0 0 10px;

	}.img-zoom{
	padding:1px;
	border:1px #666 solid;
	background:#fff;
	position:absolute;
	z-Index:65535;

	}.commentAsk{
	width:32px;
	height:19px;
	line-height:19px;
	background:url(../../img/member/ask-bg-orange.gif);
	text-align:center;
	color:#fff;
	margin-right:5px;

	}.commentText{
	width:600px;
	margin-top:5px;
	color:#111;
	overflow:hidden;

	}.commentReply{
	margin-bottom:10px;

	}.commentReply-admin{
	width:32px;
	height:19px;
	line-height:19px;
	background:url(../../img/member/ask-bg-green.gif);
	text-align:center;
	color:#fff;
	margin-right:5px;

	}.commentTabLeft{
	height:28px;
	line-height:28px;
	text-indent:10px;
	margin-top:10px;

	}.commentTabRight{
	height:28px;
	width:10px;
	margin-top:10px;

	}.addcomment .title{
	line-height:27px;

	}.addcomment .title input.blur{
	border:none;
	background:transparent url(../../img/member/icons/arrow_6.gif) no-repeat 0 50%;

	}.MenuList{
	_white-space:nowrap;

	}.MenuList div{
	float:none;

	}.MenuList .v-m-page{
	z-index:65535;
	background:#FFF;
	padding:2px 10px;
	border:1px solid #CCC;

	}#Menu .v-m-page a,.MenuList .v-m-page a{
white-space:nowrap;
background:none;
padding:0;
margin:0;
color:#333;

}/*.fmenu{
	position:absolute;
	left:0;
	background:#fff;
	cursor:default;
	border:1px solid #ccc;
	z-index:65535;
	padding:2px;

	}*/.fmenu .item{
	cursor:pointer;

	}.ImChat td{
	padding:3px;

	}.ImChat td a{
	padding:3px;
	padding:0 3px;

	}#siderIMchat_main .bg a img{
	margin:3px 0;

	}.Comment li{
	padding:5px 0;

	}.Comment h6{
	margin:0;

	}.Comment .cmt_item{
	display:block;

	}.Comment span{
	margin:0 5px 0 0;
	text-align:right;

	}.OrderList li{
	white-space:normal;
	border-bottom:1px dotted #ccc;
	padding:5px;

	}.OrderList .OrderListName{
	color:#000;
	font-weight:700;

	}.OrderList .OrderListPrice{
	color:#000;
	font-size:11px;

	}.OrderList .OrderListDate{
	color:#f90;
	font-size:11px;

	}.TransportList li{
	white-space:normal;
	border-bottom:1px dotted #ccc;
	padding:5px;

	}.TransportList .TransportListId{
	color:#f90;
	font-weight:700;
	font-size:11px;

	}.TransportList .TransportListShipname{
	color:#000;
	font-size:11px;

	}.GoodsBrowsed{
	*width:100%;
	*overflow:hidden;
	line-height:15px;

	}.GoodsBrowsed .goodpic{
	padding:1px;
	background:#fff;

	}.GoodsBrowsed .view-time{
	font-size:11px;
	font-family:verdana;
	color:#999;

	}.GoodsBrowsed .goodsName{
	font-size:11px;

	}.LinkList,.ImChat{
	padding:5px;

	}.LinkList .LinkListItem{
	float:left;
	text-align:center;
	line-height:18px;

	}.GoodsList .mktprice1{
	text-decoration:line-through;
	font-size:1em;

	}.GoodsList .price1{
	font-size:1em;
	font-weight:normal;

	}.more{
	margin:5px 5px 0 0;

	}.ArticleList li,.ArticleList td{
	overflow:hidden;
	white-space:nowrap;

	}.ArticleList td{
	padding-left:10px;

	}.ArticleList li a,.ArticleList td a{
	padding-left:0px;

	}.GoodsList-Tabs img,.ArticleList img{
	margin-right:4px;

	}.Article-Tabs,.GoodsList-Tabs{
	margin:10px 5px;
	overflow:auto;
	zoom:1;
	border-bottom:1px solid #ccc;
	padding:0 10px;

	}.Article-Tabs div,.GoodsList-Tabs div{
	float:left;
	padding:3px 5px;
	cursor:pointer;
	border:1px solid #ccc;
	border-bottom:none;
	margin:0 0 0 -1px;

	}.Article-Tabs .current,.GoodsList-Tabs .current{
	background:#efefef;
	font-weight:bold;

	}.IndexLoginWrap{
	padding:5px;

	}.IndexLoginWrap label{
	width:50px;
	margin:0 2px 0 0;
	font-weight:normal;

	}.IndexLoginWrap input.userinput{
	width:100px;

	}.IndexLoginWrap input.vcode{
	width:40px;

	}.IndexLoginWrap .buttonbar{
	margin:5px 0 0 0;
	padding:5px 0 0 0;
	border-top:1px solid #efefef;
	clear:both;
	text-align:center;

	}.IndexLoginWrap .buttonbar a{
	margin:0 4px;

	}.IndexLoginWrap .logon{
	line-height:20px;
	margin:5px 0;
	text-align:center;

	}.IndexLoginWrap .bar{
	overflow:hidden;
	white-space:nowrap;

	}.IndexLoginWrap .bar span{
	display:inline;
	text-align:left;
	line-height:12px;
	padding:0 8px;

	}.GoodsListWrap{
	text-align:center;

	}.GoodsList .item table{
	margin:5px 0;

	}.GoodsList .item{
	padding:0 5px;

	}.GoodsList .item table td{
	padding:5px;
	vertical-align:top;
	text-align:left;

	}.GoodsList .item table .goodsDesc{
	width:99%;

	}.GoodsList .goodsImg{
	margin:0 auto;

	}.GoodsList .goodsImg a{
	vertical-align:middle;
	text-align:center;

	}.GoodsList h6{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;

	}.GoodsShow .pic{
	display:block;
	margin:5px auto 0 auto;

	}.GoodsShow .info{
	padding:5px;

	}.GoodsShow .gname,.GoodsShow .desc{
	color:#333;
	overflow:hidden;

	}.SiteMaps td a{
	padding:5px;

	}.SiteMaps h3 a{
	background:url(../../img/member/arrs.gif) no-repeat 0 -82px;
	padding:0 0 0 13px;

	}.GoodsListWrap .button{
	width:110px;
	margin:0 auto;

	}.GoodsListWrap .button li{
	padding:0;
	display:inline-block;
	display:-moz-inline-stack;
	*display:inline;
	zoom:1;
	margin:0 2px;

	}.GoodsListWrap .listact{
	position:relative;
	text-indent:-9999px;
	width:46px;
	height:23px;
	display:block;
	cursor:pointer;

	}.GoodsListWrap .button .vdetail{
	display:none;

	}.GoodsListWrap .addcart .listact{
	background:url(../../img/member/wgt_btns.gif) no-repeat;

	}.GoodsListWrap .star-off .listact{
	background:url(../../img/member/wgt_btns.gif) no-repeat 0 -23px;

	}.GoodsListWrap .star-on .listact{
	background:url(../../img/member/wgt_btns.gif) no-repeat 0 -46px;

	}.GoodsListWrap .nobuy .listact{
	background:url(../../img/member/wgt_btns.gif) no-repeat 0 -92px;

	}.TreeList .cat1{
	color:#000;
	padding-left:3px;
	font-weight:700;

	}.TreeList .cat2{
	color:#000;
	padding:0 0 0 25px;

	}.TreeList .cat3{
	color:#666;
	padding:0 0 0 20px;

	}.TreeList .cat4{
	padding:0 0 0 30px;

	}.TreeList .cat5{
	padding:0 0 0 40px;

	}.GoodsCategoryWrap{
	text-align:left;

	}.c-cat-depth-1 a{
	background:url(../../img/member/arrs.gif) no-repeat 0 -82px;
	padding-left:10px;
	font-weight:bold;
	zoom:1;

	}.c-cat-depth-1 table a{
	display:inline;

	}.c-cat-depth-2 a{
	font-weight:normal;
	background:none;
	margin:0 2px;

	}.c-cat-depth-3 a{
	font-weight:normal;

	}.s-cat-depth-1 a{
	background:url(../../img/member/arrs.gif) no-repeat 0 -82px;
	padding-left:15px;
	font-weight:bold;

	}.s-cat-depth-1 a,.s-cat-depth-1 span{
	zoom:1;

	}.s-cat-depth-2 a{
	background:none;
	font-weight:normal;

	}.s-cat-depth-1 .s-cat-depth-2 .s-cat-depth-2-onlyfor2{
	white-space:nowrap;

	}.s-cat-depth-1 .s-cat-depth-2 .s-cat-depth-2-onlyfor2 li a{
	font-weight:normal;
	display:block;
	background:url(../../img/member/arrs.gif) no-repeat 5px -40px;
	padding:0 15px 0 15px;

	}.s-cat-dropdown{
	border:1px solid #ccc;
	background:#fff;
	white-space:nowrap;
	padding:0 10px;

	}.s-cat-dropdown a{
	display:block;
	background:url(../../img/member/arrs.gif) no-repeat 5px -40px;
	padding:0 0 0 15px;

	}.e-cat-depth-1 a{
	padding:0;
	font-weight:bold;

	}.e-cat-depth-1 p{
	margin:0;

	}.e-cat-depth-2 a{
	font-weight:normal;

	}.e-cat-depth-3{
	white-space:nowrap;

	}.e-cat-depth-3 a{
	display:block;

	}.e-cat-depth-1 .symbols{
	cursor:pointer;
	display:block;
	float:left;
	text-align:center;
	margin-right:2px;

	}.BrandListWrap{
	text-align:center;

	}.system-widgets-box{
	height:500px;
	border-width:1px;
	border-color:#ccc #999999 #999 #cccccc;
	border-style:bold;
	background:#e6e6e6 url(../../img/member/system-widgets-box.gif) no-repeat 50% 50%;
}
.clear {
    border-top: 1px solid rgba(0, 0, 0, 0) !important;
    clear: both;
    font-size: 0;
    height: 1%;
    line-height: 0;
}




/*我的收藏样式*/
.GoodsSearchWrap .items-list table tr td{
	line-height:25px
}
.GoodsSearchWrap .items-list table tr td img{
	width:190px;

}
.GoodsSearchWrap .items-list .goodpic{
	text-align:center;

}
.GoodsSearchWrap .button li {

    display: inline-block;

    margin: 0 2px 0 0;

    padding: 0;


}
.items-list td img{
	float:left
}
